mixin radiobutton(radiobutton, label)
  input(type="radio"
    name= radiobutton.name
    value=radiobutton.value
    id=radiobutton.id
    class=`radiobutton ${radiobutton.class}`
    checked= (radiobutton.checked ? "checked" : false)
  )
  label(for=radiobutton.id
    class=`radiobutton__label ${label.class}`
  )
    span.radiobutton__label-txt= label.txt


//- +radiobutton(
//-   {
//-     name: "fmvk",
//-     value: "vaaaal",
//-     id: "iditifikator",
//-     class: "more class",
//-     checked: 0,
//-   },
//-   {
//-   txt: "label",
//-   class: "more label class"
//-   }
//- )