mixin toggle(toggle, label)
  input(type="checkbox"
    name= toggle.name
    value=toggle.value
    id=toggle.id
    class=`toggle ${toggle.class}`
    checked= (toggle.checked ? "checked" : andefined)
  )
  label(for=toggle.id
    class=`toggle__label ${label.class}`
  )
    span.toggle__label-txt= label.txt



//- +toggle(
//-   {
//-     name: "fmvk",
//-     value: "vaaaal",
//-     id: "iditifikator",
//-     class: "more class",
//-     checked: 0,
//-   },
//-   {
//-   txt: "label",
//-   class: "more label class"
//-   }
//- )