mixin rich-checkbox(checkbox, label)
  input(type="checkbox"
    name= checkbox.name
    value=checkbox.value
    id="reach-sheckbox" + checkbox.id
    class="checkbox"
  )
  label(class="checkbox__label"
        for="reach-sheckbox" + checkbox.id
  )
    span.checkbox__label-txt.rich-checkbox__label= label.label 
    br
    span.rich-checkbox__description= label.description







//- +rich-checkbox(
//-   {
//-     name: "fmvk",
//-     value: "vaaaal",
//-     id: "uniq-id"
//-   },
//-   {
//-   label: "label",
//-   description: "description",
//-   class: "more label class"
//-   }
//- )