mixin input-date_single-range(options)
  if (options.id && 'txtlabel' in options)
    label(for= options.id
    class=options.classlabel
    )= options.txtlabel
  input(type="txt"
    name= options.name
    form= options.form
    class="input date-dropdown_single-range"
    id= options.id
    placeholder="ДД.ММ.ГГГГ"
    )

//- +input-date_single-range(
//-   {
//-     name:"date-single-range",
//-     form:"form",
//-     id: "field-range-date",
//-     txtlabel: "df",
//-     classlabel: "label-cta",
//-   }
//- )